<div id="<%= dom_id game %>">
  <p>
    <strong>Status:</strong>
    <%= game.status %>
  </p>

  <p>
    <strong>Opponent:</strong>
    <%= game.opponent %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= game.channel %>
  </p>

  <p>
    <strong>Swag status:</strong>
    <%= game.swag_status %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= game.player_id %>
  </p>

</div>
