<p style="color: green"><%= notice %></p>

<h1>Admin</h1>

<div id="games">
<table>
  <tr>
    <th>Player</th>
    <th>Opponent</th>
    <th>Channel</th>
    <th>Status</th>
    <th>Swag Status</th>
  </tr>
  <% @games.each do |game| %>
    <tr id="<%= dom_id game %>">
      <td><%= game.player.name %></td>
      <td><%= game.opponent %></td>
      <td><%= game.channel %></td>
      <td><%= game.status %></td>
      <td><%= game.swag_status %></td>
    </tr>
  <% end %>
</table>
</div>

